body, ul, li, h1, h2, h3, h4, h5, p {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.43;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

ul, li {
    list-style: none;
    padding: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #303030;
}